.header{
    height: 95vh;
   
    
    background-image: linear-gradient(to right bottom , rgba($color-primary,0.8), rgba($color-primary-light,0.2)), url('../../img/david-marcu-78A265wPiO4-unsplash.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path:polygon( 0 0, 100% 0, 100% 75vh, 0 100%);
     position: relative;
     @include respond(phone){
        clip-path: polygon( 0 0, 100% 0, 100% 85vh, 0 100%);
        -weblit-clip-path:polygon( 0 0, 100% 0, 100% 85vh, 0 100%);
     }
}