.book{
    background-image:linear-gradient((105deg ,
    rgba($color-white, .8) 50%, 
    rgba($color-white ,0.8)50%,
    transparent 50%
    )), url('../../img/andy-ramos-kr9HOdBFjuk-unsplash.jpg');
    background-size: 100%;
    
    box-shadow: 0 6rem 20rem rgba($color-black, 0.2);
    padding: 4rem;
  &__form{
    width: 50%;
    padding: 6rem;
    @include respond(tab-land){
      width: 65%;
    }
    @include respond(tab-port){
      width: 100%;
    }
  }
  @include respond(tab-land){
    background-image:linear-gradient((105deg ,
    rgba($color-white, .8) 0%, 
    rgba($color-white ,0.8)70%,
    transparent 70%
    )), url('../../img/andy-ramos-kr9HOdBFjuk-unsplash.jpg');
    background-size: cover;
    
  }
 @include respond(tab-port){
  background-image:linear-gradient((to right,
  rgba($color-white, .8) 0%, 
  rgba($color-white ,0.8)100%
  )), url('../../img/andy-ramos-kr9HOdBFjuk-unsplash.jpg');

 }
}